body {
  margin: 0;
  min-width: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.studentcard-container {
  padding: 0;
}

.students-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px auto;
  border: 1px solid gray;
  padding: 1em;
  width: 700px;
}

.studentcard {
  border: 1px solid black;
  list-style-type: none;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

.studentcard:hover {
  background-color: rgb(192, 221, 250);
}


.student-name-gpa {
  text-align: left;
  width: 600px;
  margin: 50px auto;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 600px;
  border: 1px solid rgb(230, 239, 242);
  margin: 0 auto;

}

.column {
  margin: 0 auto;
  border: 1px solid rgb(206, 209, 211);
  width: 600px;
}
.row {
  border: 1px solid rgb(206, 209, 211);
  padding: 10px;
}






a {
  margin: 0px 5px;
}

a:link {
  text-decoration: none;
  color: #4e4e50
}

a:visited {
  text-decoration: none;
  color: #4e4e50
}
a:hover {
  text-decoration: none;
  color: rgb(36, 36, 36);
  scale: 1.10;
}

a:active {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.nav-container {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-column {
  justify-content: center;
  align-items: center;
}

.center-align {
  text-align: center;
}

.home-cards {
  justify-content: space-evenly;
  margin: 10px;
  flex-wrap: wrap;
}

.students-card, .courses-card {
  margin: 30px;
  background-color: rgb(211,211,211);
  padding: 50px;
  font-size: 8vh;
  border: 2px solid black;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px  #171617);
}

.students-card:hover, .courses-card:hover {
  transform: scale(1.05);
  filter: drop-shadow(10px 10px 20px #1e1e1e);
}


#header {
  background-color: white;
  filter: drop-shadow(1px 1px 2px #dcdcdc);
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #222223;
}

.nav-links {
  justify-content: space-between;
}

#nav-logo {
  margin: 0px 0px 0px 5px;
  font-size: 5vh;
}

.course-box {
  background-color: #dcdcdc;
  border: 2px solid black;
  border-radius: 20px;
  margin: 50px 100px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 5vh;
}

.course-box:hover {
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 5px #575656);
  scale: 1.03
}

